<h1>Edit Article</h1>
<% if @article.errors.any? %>
	<div class="row">
		<div class="alert alert-danger col-md-8 col-md-8-offset-2">
			<h5>Please complete the following errors</h5>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>
<div class=row>
	<div class="col-md-8 col-md-offset-2 well">
		<%= form_for @article do |a|%>
			<%= a.label :title%>
			<%= a.text_field :title%>
			<%= a.label :text%>
			<%= a.text_area :text,rows: 10%>
			<%= a.submit 'Edit Article',class: "btn btn-success"%>
		<%end%>
		<%= link_to "Back to index", articles_path %>
	</div>
</div>